/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    touch-action: manipulation;
  }
  html, body {
    /* @apply min-h-full; */
  }

  button, textarea, input, select, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
  }
}

@layer components {

  /* Header */
  html header > div { border-radius: 100px; }
  html header > div * {  }

  html.dark header > div {  }
  html.dark header > div * { filter: invert(1); }

  /* Active Header */
  html header.active > div { background: black; border-radius: 100px; }
  html header.active > div * { filter: invert(1); }

  html.dark header.active > div { background: white; border-radius: 100px; }
  html.dark header.active > div * { filter: invert(1); }
/*   
  html header.active > div { background: black; border-radius: 100px; }
  html header.active > div * { filter: invert(1); }
  
  html.dark header.active > div { background: white; }
  html.dark header.active > div * { filter: unset; }
  html.dark header.active > div a { color: black; }
  html.dark header.active > div a.active { background: black; color: white; }
  
  html.dark header > div a { color: white; }
  html.dark header > div a.active { background: black; color: white; } */
}