/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    touch-action: manipulation;
  }
  html, body {
    /* @apply min-h-full; */
  }

  button, textarea, input, select, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
  }
}

@layer components {
  
  /* Light Mode
  ************************************************************/
  html header.active {  
    background-color: black;
  }
  /* logo */
  html header.active .logo > g > g {
    fill: white;
  }
  /* links */
  html header.active nav a {
    color: white;
  }
  /* links (active) */
  html header.active nav a.active {
    background-color: white;
    color: black;
  }
  /* theme */
  html header.active .sun-moon img {
    filter: invert(1);
  }

  /* Dark Mode
  ************************************************************/
  /* header */
  html.dark header.active {
    background-color: unset;
    background-image: 
      linear-gradient(-20deg,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, .65) 40%, 
        rgba(255, 255, 255, .65) 60%, 
        rgba(255, 255, 255, 1)
      );
    backdrop-filter: blur(10px) brightness(200%);
    -webkit-backdrop-filter: blur(10px) brightness(200%); 
  }

  /* logo */
  html.dark header.active .logo > g > g {
    fill: black;
  }
  /* links */
  html.dark header.active nav a {
    color: black;
  }
  /* links (active) */
  html.dark header.active nav a.active {
    background-color: black;
    color: white;
  }
  /* theme */
  html.dark header.active .sun-moon img {
    filter: invert(0);
  }
}


